@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: Gotham;
  font-style: normal;
  font-weight: 700;
  src: url(/public/fonts/extrabold.otf);
}

@font-face {
  font-display: swap;
  font-family: Gotham;
  font-style: normal;
  font-weight: 400;
  src: url(/public/fonts/bold.otf);
}

@font-face {
  font-display: swap;
  font-family: Gotham;
  font-style: normal;
  font-weight: 300;
  src: url(/public/fonts/normal.otf);
}

@font-face {
  font-display: swap;
  font-family: Gotham;
  font-style: normal;
  font-weight: 500;
  src: url(/public/fonts/bold.otf);
}

body {
  font-family: "Gotham", sans-serif;
}

.MuiMenu-paper {
  background-color: #22224a !important;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1440px;
  padding-left: 85px;
  padding-right: 85px;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (max-width: 425px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
